<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
<a href="/notes/">笔记</a>

<style>
    a {
        color: rgb(105, 68, 136);
        text-decoration: none;
        margin-right: 3em;
    }
    a:hover{
        text-decoration: underline;
        background-color: rgb(221, 197, 237);
    }
</style>
    