<body>
    <div class="vscode-navbar sticky">
        <div class="menu-item active">index</div>
        <div class="menu-item">教案创作</div>
        <div class="menu-item">教案分享</div>
        <div class="menu-item">教案模板</div>
       
<style>
    a {
        color: rgb(105, 68, 136);
        text-decoration: none;
        margin-right: 3em;
    }
    a:hover{
        text-decoration: underline;
        background-color: rgb(221, 197, 237);
    }
</style>
    